/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');


// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #303030;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;


/*-- scss:rules --*/

.katex { font-size: 1em !important; } 

h1 {
  margin-bottom: 30px; /* Alt boşluğu artır */
}

.epigraph {
  font-style: italic;
  text-align: right;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}



.layout-example {
  background: $gray-700;
}


.sage{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 0px;
  border: 1pt solid #d8d8d8;
  border-start-end-radius: .25rem;
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem;
  border-end-end-radius: .25rem;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/sage.svg");
}

.sagecell_evalButton{
  background-color: #ffffff;
  border-start-end-radius: .25rem;
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem;
  border-end-end-radius: .25rem;
}

.CodeMirror.cm-s-default{
  border-color: $link-color;
  border-start-end-radius: .25rem;
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem;
  border-end-end-radius: .25rem;
  font-family: "Source Code Pro";
  
}

.sagecell_sessionOutput.sagecell_active{
  background-color: #ffffff;
  border-color: $link-color;
  border-start-end-radius: .25rem;
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem;
  border-end-end-radius: .25rem;
  font-family: "Source Code Pro";
  color: black;
}

.application-exercise {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #a8a8a8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/application-exercise.png");
}

.reading {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1pt solid #d8d8d8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/book.png");
}

.slide-deck {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #80D4E6;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/slide-deck.png");
}

.guest-lecture {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt dotted #a8a8a8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/microphone.png");
}

.lab{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #FFD748;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/lab.png");
}

.homework{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #F26BAA;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/hw.png");
}

.tutorial{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #d8d8d8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/tutorial.png");
}

.exam{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #d8d8d8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/exam.png");
}

.rstudio-cloud {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/cloud.png");
}

